<div style="text-align: center"> <h1>Welcome to Noodles Oodles!</h1>

  <%if !current_user %>
    <h3> <%= link_to "Login", login_path %>
    /
 <%= link_to "Sign Up", signup_path %> </h3>
    <br>
    <%= button_to "Log In with Google", "/auth/google_oauth2" %>
    <br>
    <%= button_to "Log In with Github", "/auth/github" %> 
  </div>
  <%end %> <!--2021-01-22 update the login and signups look  -->
</p>
</div>