<h1><%= @noodle.flavor%>  </h1>

<% if @noodle.image.attach? %>
  <%= image_tag url_for(@noodle.image) %>
<% end %>

<h2> <%= @noodle.brand.name %> </h2>
<div>
  <p><%= @noodle.description %></p>
</div>